body{
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.second img{
  width: 100px;
  height: 100px;
}

nav{
  height: 70px;
  background-color : #2E160A;
  width: 100%;
  
  position: fixed;
  animation-name:ani;
  animation-duration: 3s;
  
  
}

@keyframes ani {
  from {background-color: #784a2a;}
  to {background-size:#2E160A;}
}

nav ul{
  float: right;
  padding-left: 0;
  padding-right:12px;
  padding-top: 10px
}
nav a{
  text-decoration: none;
  color: white;
  padding-left:7px;
  padding-top:50px;
  text-align: center;
  font-size: 14px;
  
  
  
}
#nav a:hover{
  color:#784a2a;
}

nav li {
  list-style-image: none;
  display: inline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

nav img {
  width: 100px;
  height: 50px;
  float: left;
  padding:10px 0px 10px 10px;
}

.maincontent {
  width: auto;
  
  background-image: url(bg.jpg);
  background-size: 100%;
  padding: 130px 0px 120px 39px;
  background-repeat: no-repeat;
  margin-bottom:0 ;
  top: 0;
  bottom: 0;

  
}

.maincontent h1{
  
  font-family: cursive;
  font-size: 70px;
  font-weight: bold;
  margin-bottom :6px;
  
}

span{
  color: #8C411B;
}
.maincontent p {
  width: 45%;
  height: auto;
  font-size: 6px;
}

button {
  background-color: black;
  border: solid #8C411B 2px;
  color: #8C411B;
  margin: 3px;
  border-radius: 50px;
  padding: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
}

#bttn:hover {

  transform: scale(1.2, 1.2);

}


.second h2{
  text-align: center;
  font-family: cursive;
  padding: 20px;
  color: blanchedalmond;
  text-decoration:underline 3px solid black;
  text-underline-offset:5px;
  
}

.second{
  background-image:linear-gradient(to bottom right, #784a2a, #61381a);
  margin-top: 0;
  top: 0;
  bottom: 0;

}

.second img {
  border: solid black 2px;
  border-radius: 10px;
}

.prices{
  background-image:linear-gradient(to bottom right, #61381a, #784a2a);
}

.prices h2{
  text-align: center;
  font-family: cursive;
  padding: 20px;
  color: blanchedalmond;
  text-decoration:underline 3px solid black;
  text-underline-offset:5px;
  
}

.prices table{
  margin: 50px;
  align-items: center;

  
}

.prices th,td{
  padding:10px 50px 10px 50px;
}


footer{
  width:100%;
  height: 25px;
  color: blanchedalmond;
  background-color: #2E160A;
  text-align: center;
  
  padding-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}
